<div style='font-family:Helvetica,Arial,sans-serif; min-width:500px; overflow:auto; line-height:2'>
  <div style='margin:50px auto; width:70%; padding:20px 0'>
    <div style='border-bottom:1px solid #eee; text-align: center'>
      <img src="https://res.cloudinary.com/dnlawgtfq/image/upload/v1736055073/dhhpulmyupjkmkf5rufd.jpg" alt="Logo" style="vertical-align: middle; width:200px; height:200px">
      <a style='display:block; font-size:1.4em; color:#303f9f; text-decoration:none; font-weight:600; margin:10px 0'>
        FreshFit
      </a>
    </div>

    <p style='font-size:1.1em'>Hello {{{name}}},</p>

    <p>The FreshFit system admin has just created an account for you to begin supporting users on our platform.</p>

    <p><strong>Your login credentials:</strong></p>
    <ul style='font-size:1.05em'>
      <li><strong>Email:</strong> {{{email}}}</li>
      <li><strong>Temporary Password:</strong> <span style='background:#303f9f; color:#fff; padding:4px 8px; border-radius:4px'>{{{password}}}</span></li>
    </ul>

    <p>Please use the following link to log in and make sure to change your password after the first login:</p>

    <p>
      <a href="https://fresh-fit-specialist.vercel.app/login" style='display:inline-block; background:#303f9f; color:#fff; padding:10px 20px; border-radius:5px; text-decoration:none; font-weight:500'>
        Log In Now
      </a>
    </p>

    <p style='font-size:0.95em;'>If you were not expecting this account, please disregard this email.</p>

    <p style='font-size:0.9em;'>Best regards,<br />The FreshFit Team</p>

    <hr style='border:none; border-top:1px solid #eee' />
    <div style='float:right; padding:8px 0; color:#aaa; font-size:0.8em; line-height:1.4; font-weight:300'>
      <p align='right'>FreshFit - KTPM2021</p>
      <p>University of Information Technology - VNU-HCM</p>
    </div>
  </div>
</div>