<div style='font-family:Helvetica,Arial,sans-serif; min-width:500px; overflow:auto; line-height:2'>
  <div style='margin:50px auto; width:70%; padding:20px 0 '>
      <div style='border-bottom:1px solid #eee;text-align: center'>
      <img src="https://res.cloudinary.com/dnlawgtfq/image/upload/v1736055073/dhhpulmyupjkmkf5rufd.jpg" alt="Logo" style="vertical-align: middle;width:200px;height:200px">
      <a style='display:block;font-size: 1.4em; color: #303f9f; text-decoration: none; font-weight: 600;margin-top: 10px;margin-bottom: 10px '>
    
      FreshFit
    </a>

      </div>
      <p style='font-size:1.1em'>Hello You,</p>
      <p>The system has received a request to verify email. Please enter the code below to continue. Note, the code is only valid for 5 minutes.</p>
      <h2 style='background:#303f9f; margin:0 auto; width:max-content; padding:0 10px; color:#fff; border-radius:4px; padding: 10px;padding-bottom:15px'>{{{otp_code}}}</h2>

      <p style='font-size:0.9em;'>Best regard.<br />FreshFit</p>
      <hr style='border:none; border-top:1px solid #eee' />
      <div style='float:right; padding:8px 0; color:#aaa; font-size:0.8em; line-height:1; font-weight:300'>
          <p align='right'>FreshFit - KTPM2021</p>
          <p>University of Information Technology - ĐHQG TP.HCM</p>
      </div>
  </div>
</div>